################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FOS.Models/bin
/FOS.Models/obj
